/* ============= COMMON STYLES ============= */
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  color: inherit;
}
ul {
  list-style-type: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.text-navyblue {
  color: #2e2f42;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.button {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: #4d5ae5;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  display: block;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-subtitle {
    margin-bottom: 8px;

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
/* ============= /COMMON STYLES ============= */

/* ============= HEADER STYLES ============= */
.page-header {
  border-bottom: 1px solid #e7e9fc;

  background-color: #ffffff;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-navbar {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text-navyblue {
  color: #2e2f42;
}

.navbar-list {
  display: none;
}

.header-contacts {
  display: none;
}

.header-btn-menu {
  padding: 16px 0;
  border: none;

  line-height: 0;

  background-color: transparent;
}

.header-btn-menu-icon {
  fill: #2f2f37;
}

.header-btn-menu:hover .header-btn-menu-icon,
.header-btn-menu:focus .header-btn-menu-icon {
  fill: #404bbf;
}
/* ============= /HEADER STYLES ============= */

/* ============= HERO STYLES ============= */
.page-hero {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;

  color: #ffffff;

  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/bg-mobile@2x.jpg);
  }
}

.hero-title {
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

/* ============= /HERO STYLES ============= */

/* ============= BENEFITS STYLES ============= */
.benefits-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.benefits-item-icon-wrapper {
    display: none;
}

.benefits-subtitle {
    text-align: center;
}

.benefits-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ============= /BENEFITS STYLES ============= */

/* ============= MENU STYLES ============= */
.menu {
  width: 100%;
  height: 100%;

  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 99;
}

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-wrapper {
  height: 100%;
  padding-top: 70px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-close {
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.102);
  border-radius: 50%;

  background-color: #e7e9fc;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn-close {
  background-color: transparent;
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.menu-btn-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .menu-btn-close-icon,
.btn-close:focus .menu-btn-close-icon {
  fill: #ffffff;
}

.menu-navbar {
}

.menu-navbar-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.navbar-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;

  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-link:hover,
.navbar-link:focus {
  color: #404bbf;
}

.navbar-link--active {
  color: #404bbf;
}

.menu-contact-media-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.menu-contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.contacts-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;

  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.menu-media {
}

.media-list {
  display: flex;
  gap: 40px;
}

.media-item {
  width: 40px;
  height: 40px;
}

.media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: #4d5ae5;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
  background-color: #404bbf;
}

.media-icon {
  fill: #f4f4fd;
}

/* ============= /MENU STYLES ============= */

/* ============= TABLET STYLES ============= */
@media screen and (min-width: 768px) {
  /* ============= COMMON STYLES ============= */
  .container {
    max-width: 768px;
  }
  /* ============= /COMMON STYLES ============= */

  /* ============= HEADER STYLES ============= */
  .header-logo {
    margin-right: 120px;
  }

  .navbar-list {
    display: flex;
    gap: 40px;
  }

  .navbar-link {
    padding: 24px 0;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  .navbar-link--active {
    position: relative;
  }
  .navbar-link--active::after {
    content: "";

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;

    position: absolute;
    bottom: -1px;
    left: 0;
  }

  .header-contacts {
    font-style: normal;

    display: block;
  }

  .contacts-list {
    height: 100%;

    justify-content: center;
    row-gap: 2px;
  }

  .contacts-link {
    padding: 5px 0;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .header-btn-menu-wrapper {
    display: none;
  }

  .menu {
    display: none;
  }
  /* ============= /HEADER STYLES ============= */

  /* ============= HERO STYLES ============= */
.page-hero {
    max-width: 768px;
    padding: 112px 0;
  
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/bg-tablet.jpg);
  }
  
  @media screen and (min-resolution: 192dpi) {
    .page-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/bg-tablet@2x.jpg);
    }
  }
  
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
  
    font-size: 56px;
    line-height: 1.07;
  }
  /* ============= /HERO STYLES ============= */

  /* ============= BENEFITS STYLES ============= */
.benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
}

.benefits-item {
    width: calc((100% - 24px) / 2);
}

.benefits-subtitle {
    text-align: left;
}
/* ============= /BENEFITS STYLES ============= */
}
/* ============= /TABLET STYLES ============= */

/* ============= DESKTOP STYLES ============= */
@media screen and (min-width: 1158px) {
  /* ============= COMMON STYLES ============= */
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  /* ============= /COMMON STYLES ============= */

  /* ============= HEADER STYLES ============= */
  .header-logo {
    margin-right: 76px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .contacts-list {
    flex-direction: row;
    column-gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* ============= /HEADER STYLES ============= */

    /* ============= HERO STYLES ============= */
.page-hero {
    max-width: 1440px;
    padding: 188px 0;
  
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/bg-desktop.jpg);
  }
  
  @media screen and (min-resolution: 192dpi) {
    .page-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop/bg-desktop@2x.jpg);
    }
  }
  
  .hero-title {
    margin-bottom: 48px;
  }
  /* ============= /HERO STYLES ============= */

    /* ============= BENEFITS STYLES ============= */
.benefits-item {
    width: calc((100% - 72px) / 4);
}

.benefits-item-icon-wrapper {
    width: 100%;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;

    background-color: #f4f4fd;

    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-text {
    font-weight: 400;
}
/* ============= /BENEFITS STYLES ============= */
}
/* ============= /DESKTOP STYLES ============= */
